*{
    padding: 0;
    margin:0;
}
header{
    height: 10vh;
    background-color: gray;
}

h1{
    margin-top: 3vh;
    text-align: center;
    font-family: 'Battambang', cursive;
}
h2{
    margin:0 0 5vh 5vw;
    text-align: center;
}

img{

margin:5vh 0 5vh 28vw;
}
img#seg{

    margin:5vh 0 5vh 38vw;
    }

p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 5vh;
}
ul li{

margin-left: 15vw;
margin-bottom: 5vh;
font-size: 18px;
list-style-type: square ;


}
footer{
    height: 5vh;
    text-align: center;
    background-color: gray;
}
address{
    padding-top: 1vh;
}
